.page_2_VmH {
  margin: 0 auto; }
body, html, body > div:first-child {
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

body > div:first-child {
  width: 100%;
  font-size: 48px;
  text-align: center;
  font-family: Comic Sans;
  color: white;
  text-shadow: 0 2px chocolate, 0 1px 2px darkorange, 0 8px 8px darkgoldenrod;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 5%, #ffffff 5%, #efcf00 10%, #efdf73 54%, #f1da36 100%) no-repeat;
  background: -webkit-linear-gradient(top, #ffffff 5%, #ffffff 5%, #efcf00 10%, #efdf73 54%, #f1da36 100%) no-repeat;
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 5%, #efcf00 10%, #efdf73 54%, #f1da36 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1da36',GradientType=0 );
  display: flex;
  justify-content: center;
  align-items: center; }
.page_3z2Po {
  margin: 0 auto; }
