.page_2_VmH {
  margin: 0 auto; }
body, html, body > div:first-child {
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

body > div:first-child {
  width: 100%;
  font-size: 48px;
  text-align: center;
  font-family: Comic Sans;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 2px chocolate, 0 1px 2px darkorange, 0 8px 8px darkgoldenrod;
  background: #ffffff;
  background: -moz-linear-gradient(top, #f5f1e3 0%, #ffffff 5%, #ffffff 10%, #efb000 12%, #ffdc3f 54%, #fdbc17 100%) no-repeat;
  background: -webkit-linear-gradient(top, #f5f1e3 0%, #ffffff 5%, #ffffff 10%, #efb000 12%, #ffdc3f 54%, #fdbc17 100%) no-repeat;
  background: linear-gradient(to bottom, #f5f1e3 0%, #ffffff 5%, #ffffff 10%, #efb000 12%, #ffdc3f 54%, #fdbc17 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1da36',GradientType=0 );
  display: flex;
  justify-content: center;
  align-items: center; }
.page_3z2Po {
  margin: 0 auto; }
